<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="LoginTestCase">
        <classes>
            <class name="com.mgg.api.autotest.cases.LoginTestCase"></class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="RegisterTestCase">
        <classes>
            <class name="com.mgg.api.autotest.cases.RegisterTestCase"></class>
        </classes>
    </test>
</suite>